{% extends 'base.html' %} {% block content %}
<h2>Inserir Nova Receita</h2>
<form method="POST" action="{% url 'receitas:create' %}">
  {% csrf_token %}
  <p>
    <label for="id_name">Título:</label>
    <input type="text" name="name" id="id_name" />
  </p>
  <p>
    <label for="id_tempo_de_preparo">Tempo de Preparo:</label>
    <input type="text" name="tempo_de_preparo" id="id_release_year" />
  </p>
  <p>
    <label for="id_foto">URL da Imagem:</label>
    <input type="url" name="foto" id="id_foto" />
  </p>
  <button type="submit">Criar</button>
</form>

{% endblock content %}