{% extends 'base.html' %} 
{% block title %}
  {{ receita.name }} ({{receita.tempo_de_preparo }})
{% endblock title %}
{% block content %}
<h2>Detalhes da receita de {{ receita.name }} </h2>
<section class="dados-de-receita">
  <img src="{{ receita.foto }}" alt="foto da receita de {{ receita.name}}" style="max-height: 300px;"/>
  <ul>
    <li>Nome: {{ receita.name }}</li>
    <li>Tempo de Preparo: {{ receita.tempo_de_preparo }}</li>
    <li>Ingredientes: {{ receita.ingredientes }}</li>
    <li>Preparo: {{ receita.text }}</li>
    <li>Data de Postagem: {{ receita.date }}</li>
    {% if receita.category_set.all %}
            <li>Incluso nas categorias: {{ receita.category_set.all|join:", " }} </li>
    {% endif %}
    <li><a href="{% url 'receitas:update' receita.pk %}">Editar</a></li>
    <li><a href="{% url 'receitas:delete' receita.pk %}">Apagar</a></li>
    </ul>
  </section>
  <section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if receita.comment_set.all %}
            {% for comment in receita.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    
                    <figcaption>—{{ comment.author }}</figcaption>
                    <figcaption>{{ comment.date }}</figcaption></br>
                    </blockquote>
                </figure>
            {% endfor %}
        {% else %}
            <p>Seja o primeiro a comentar!</p>
        {% endif %}
    </ul>
    <a href="{% url 'receitas:add_obs' receita.pk %}"><button>Poste seu comentário</button></a>
</section>
{% endblock content %}