{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<h2>Listas de Receitas</h2>

<section>
    {% for category in category_list %}
    <hr>
    <article>
        <header>
            <h3> <a href="{% url 'receitas:category' category.id %}">{{ category.name }}</a></h3>
        </header>
        <div class="lista-de-cards">
            {% for receita in category.receitas.all %}
            <div class="card">
                <a href="{% url 'receitas:detail' receita.id %}">
                    <img src="{{ receita.foto }}" alt="Imagem da receita de {{ receita.name}}">
                </a>
                <p>{{ receita.name }}</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}
</section>

{% endblock content %}