{% extends 'base.html' %}

{% block content %}
<h2>Busca de Receitas por Nome</h2>
<form action="{% url 'receitas:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if receita_list %}
<section class="lista-de-cards">
    {% for receita in receita_list %}
    <article class="card">
        <img src="{{ receita.foto }}" alt="Foto da receita de {{ receita.name}}">
        <p>{{ receita.name }} ({{ receita.tempo_de_preparo }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma receita para a busca.</p>
{% endif %}

{% endblock content %}