{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>Sobre este site</h2>
<p>Bem-vindo ao nosso site de culinária! Nosso objetivo é compartilhar receitas, dicas e experiências na cozinha de forma prática e divertida. Acreditamos que cozinhar pode ser fácil e, ao mesmo tempo, uma ótima oportunidade para experimentar novos sabores e criar momentos especiais. Seja você iniciante ou alguém que já gosta de cozinhar, este espaço é para aprender, testar e se inspirar no mundo da comida.</p>
{% endblock content %}